<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScratchVerifier Login</title>
    <link href="https://unpkg.com/@primer/css/dist/primer.css" rel="stylesheet" />
    <style>
        .half-width {
            width: calc(50% - 12px);
            margin: 0px 5px;
            display: inline-block;
        }

        .center {
            text-align: center;
        }

        .va-bottom {
            vertical-align: middle
        }
        .bold {
            font-weight: bold;
        }
        .red {
            stroke: red
        }

        .overflow-dot {
            text-overflow: ellipsis;
        }

        .mono {
            font-family: 'Ubuntu Mono', monospace;
        }

        .loginBox {
            width: calc(100vw - 10px);
            max-width: 700px;
            display: absolute;
            margin: auto;
            left: 0;
            right: 0;
        }

        body {
            margin: 5px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="loginBox">
        <div class="Box box-shadow">
            <div class="Box-row">
                <h2 class="m-0 center">Login</h2>
            </div>
            <div class="Box-row">
                <div><form method="POST">
                    <div class="text-red bold" style="display: __failed__">Could not find the comment on your profile. Please post it.</div>
                    <div class="form-group-header">
                        <label for="username-input">Username</label><br>
                    </div>
                    <div class="form-group-body">
                        <input class="form-control input-block" type="text" value="__username__" id="username-input"
                            oninput="change()" name="username" />
                        <input type="hidden" value="__returnto__" name="returnto" />
                    </div><br>
                    <div id="codeDisplay">
                        <div class="form-group-header">
                            <label for="username-input">Post the following code on your profile <a id="open"
                                    target="_blank" href="">(open)</a>:</label><br>
                        </div>
                        <div class="form-group-body">
                            <div class="input-group">
                                <input class="form-control mono overflow-dot" type="text" id="code" placeholder="Code"
                                    aria-label="Code" disabled>
                                <span class="input-group-button">
                                    <button class="btn" type="button" aria-label="Copy to clipboard" id="copyButton"
                                        onclick="cpy()">
                                        <svg class="octicon octicon-clippy" viewBox="0 0 14 16" version="1.1" width="14"
                                            height="16" aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                d="M2 13h4v1H2v-1zm5-6H2v1h5V7zm2 3V8l-3 3 3 3v-2h5v-2H9zM4.5 9H2v1h2.5V9zM2 12h2.5v-1H2v1zm9 1h1v2c-.02.28-.11.52-.3.7-.19.18-.42.28-.7.3H1c-.55 0-1-.45-1-1V4c0-.55.45-1 1-1h3c0-1.11.89-2 2-2 1.11 0 2 .89 2 2h3c.55 0 1 .45 1 1v5h-1V6H1v9h10v-2zM2 5h8c0-.55-.45-1-1-1H8c-.55 0-1-.45-1-1s-.45-1-1-1-1 .45-1 1-.45 1-1 1H3c-.55 0-1 .45-1 1z">
                                            </path>
                                        </svg>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="validationError" style="display:none;" class="text-red bold"></div>
                    <br>
                    <input type="submit" id="doneButton" class="btn btn-primary btn-block" value="Done" />
                </form></div>
            </div>
        </div>
    </div>
    <script>
        var nonce = 'default';
        let copyEnabled = false
        async function hash(message) {
            const msgUint8 = new TextEncoder().encode(message);                           // encode as (utf-8) Uint8Array
            const hashBuffer = await crypto.subtle.digest('SHA-256', msgUint8);           // hash the message
            const hashArray = Array.from(new Uint8Array(hashBuffer));                     // convert buffer to byte array
            const hashHex = hashArray.map(b => b.toString(16).padStart(2, '0')).join(''); // convert bytes to hex string
            return hashHex;
        }
        async function genCode(purpose, nonce, username) {
            let hashed1 = await hash((await hash(username.toLowerCase()))
                + (await hash(purpose))
                + (await hash(nonce)));
            // done so "AAA | BBB | CCC" can't produce the same as "AAAB | BBC | CC"
            let base = 0x41
            let shiftIndex = `0123456789`.split("")
            return `${hashed1.split("").map(x => {
                if (shiftIndex.indexOf(x) !== -1)
                    return String.fromCharCode(base + shiftIndex.indexOf(x))
                return x
            }).join("")}`
        }
        function validationFailure(type) {
            document.querySelector("#validationError").style.display = ""
            document.querySelector("#validationError").innerText = type
            document.querySelector("#codeDisplay").style.display = "none"
            document.querySelector("#doneButton").setAttribute("aria-disabled", "true")
            document.querySelector("#doneButton").disabled = true
        }
        function change() {
            const username = document.querySelector("#username-input").value
            if (!username) return validationFailure("Please enter a username.")
            if (username.length < 3 || username.length > 20) {
                return validationFailure("Username must be 3-20 characters.")
            }
            if (username.match(/[^a-z0-9A-Z_-]/)) {
                return validationFailure("Username must only contain a-z, A-Z, 0-9, _ and -.")
            }
            document.querySelector("#validationError").style.display = "none"
            document.querySelector("#codeDisplay").style.display = ""
            document.querySelector("#doneButton").setAttribute("aria-disabled", "false")
            document.querySelector("#doneButton").disabled = false
            document.querySelector("#open").href = "https://scratch.mit.edu/users/" + encodeURIComponent(username)
            genCode("login", nonce, username)
                .then(x => {
                    document.querySelector("#code").value = x
                })
        }
        change()
        function cpy() {
            if (document.querySelector("#code").value) {
                navigator.clipboard.writeText(document.querySelector("#code").value)
            }
        }
        $.getJSON('/login/nonce', data => {
            nonce = data.nonce
            change()
        })
    </script>
</body>

</html>
